@import 'sources/styles/mixins.scss';

.pathInfoContainer {
  width: 50%;
  @include adaptive-value("padding-right", 30, 8, 0);
  @include adaptive-value("padding-left", 30, 8, 0);

  @include tablets {
    width: 100%;
    flex-direction: (column);
  }

  .header {
    @include flex-direction(row);
    @include flex(center, space-between);

    .title { 
      @include text-style(24px, 600, 28px)
    }

    .distanceText { 
      @include text-style(22px, 600, 18px)
    }
    margin-bottom: 15px;
  }

  .descriptionText {
    @include text-style(16px, 500, 18px);
    word-wrap: break-word;
    width: 100%;
  }

  .map {
    margin-top: 10px;
    @include width-height(100%, 400px);
    background-color: rgb(211, 188, 233);
  }

  .button {
    background: none !important;
    display: block;

    &:hover {
      background: none;
      text-decoration: underline !important;
      color: rgba(79, 199, 125, 0.746) !important;
      ;
    }
  }

  .red {
    color: rgb(194, 34, 34) !important;
  }

  .blue {
    color: #1890FF !important;
  }
}