@import 'sources/styles/mixins.scss';

.container {

  padding: 30px 60px 30px 60px;
  @include adaptive-value("padding-left", 60, 16, 0);
  @include adaptive-value("padding-right", 60, 16, 0);

  .content {
    @include flex();
    padding-top: 30px;

    @include tablets {
      flex-direction: (column);
    }
  }
}
