@import 'sources/styles/mixins.scss';

.container {
  padding: 30px 60px 30px 60px;

  .content {
    @include flex();
    padding-top: 30px;

    .text {
      align-self: center;
      margin: 0 auto;
      @include text-style(18px, 500)
    }

  }
}
