@import 'sources/styles/mixins.scss';

.listContainer {
  width: 50%;
  border-right: 1px solid;
  padding-right: 30px;

  @include tablets {
    order: 2;
    width: 100%;
    flex-direction: (column);
  }

  .search {
    width: 100%;
  }

  .list {
    margin-top: 30px;
    padding: 0;
    overflow-y: scroll;
    height: 850px;
    .active { 
      background-color: rgba(123, 203, 240, 0.383) !important;
    }

    .listItem {
      justify-self: center;
      position: relative;
      height: 90px;
      &:hover { 
        background-color: rgba(123, 203, 240, 0.137) !important;
        cursor: pointer;
      }

      &:first-child {
        margin-top: 20px;
      }

      padding-right: 30px;
      @include adaptive-value("padding-right", 30, 8, 0);

      width: 100%;
      background-color: #0000000a;
      margin-bottom: 10px;

      .logo {
        @include width-height(40px, 40px);
        background-color: aquamarine;
        font-size: 40px;
      }

      .container {
        width: 100%;
        @include flex(center, space-between);
        align-content: center;

        .block {
          @include flex(center, space-between);

          .textContainer {
            padding-left: 10px;

            .titleContainer {
              @include flex(center);

              .title {
                @include adaptive-value("font-size", 22, 16, 0);
              }
            }

            .favorite {
              content: "0";
            }

            .description {
              @include adaptive-value("max-width", 550, 100, 0);              
              @include text-style(14px, 400, 16px);
              word-wrap: break-word;
              overflow: hidden;
            }
          }
        }
      }

      .lengthText {
        width: 200px;
        @include adaptive-value("font-size", 30, 18, 0);
      }

      .arrow {
        @include position-absolute($right: 10px, $top: 40%);
        margin-left: 10px;
        @include text-style(15px, 800);

        &:hover {
          @include text-style(16px, 800);
          cursor: pointer;
        }
      }
    }
  }
}
